.jumbotron {
	background: #e05c5c url('../images/red.jpg') repeat-x;
}

.jumbotron .container {
	color: #fff;
}

.btn-primary {
  color: #fff;
  background-color: #c83d3c;
  border-color: #b31f1f;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #c97474;
  border-color: #bb5655;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}


.btn-success {
  color: #fff;
  background-color: #d04a49;
  border-color: #ab2624;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #e05c5b;
  border-color: #c13e3d;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}



.btn-danger {
  color: #fff;
  background-color: #8c8c8c;
  border-color: #807272;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #9e9e9e;
  border-color: #918888;
}
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}



a {
  color: #c13332;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #a72d2c;
  text-decoration: underline;
}


a.list-group-item:hover .list-group-item-heading {
  color: #a72d2c;
}


.jumbotron a {
  color: #8c1e1d;
  text-decoration: none;
}

.jumbotron a:hover,
.jumbotron a:focus {
  color: #781615;
  text-decoration: underline;
}

a.btn {
	color: #fff;
}

a:hover.btn,
a:focus.btn {
	color: #fff;
	text-decoration: none;
}


h1 small {
	color: #efb2b1;
}


.form-control:focus {
  border-color: #d49595;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 102, 102, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 102, 102, .6);
}
	